// maverick color palete
$bk:#FFF;

$mav-primary: #000000;
$mav-primary-s: #F26A5E;

$mav-secondary: #F9CAAA;
$mav-secondary-s: #E8E4D6;

#page-content {
  background-color: $bk;
}
.section .activity .activityinstance {
  min-width: 10%;
}
