$bk: #FFF;
$mav_primary: #000000;
$mav_primary_s: #F26A5E;

$mav_secondary: #F9CAAA;
$mav_secondary_s: #E8E4D6;

$primary: $mav_primary !default;
//$success:       $green !default;
// $info:          $cyan !default;
// $warning:       $orange !default;
// $danger:        $red !default;
$secondary: $mav_primary_s !default;

$info-outline: #1f7e9a;
$warning-outline: #a6670e;

@import 'components/sliderjs.scss';

#page-content {
  background-color: $bk;
}

.section .activity .activityinstance {
  min-width: 10%;
}


#page.drawers {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.wrapper_home {
  width: 100%;
  max-width: 830px;
  padding: 0 8px;
  margin: 0 auto;

  .sec1,
  .sec2 {
    min-height: 300px;
  }

  .sec1 {
    background-color: #99f;

  }

  .sec2 {
    background-color: #f99;

  }
}

.frontpage-course-list-enrolled {
  .coursebox {
    float: left;
    width: calc(50% - 4px);
  }

  .first {
    margin-right: 4px;
  }

  .last {
    margin-left: 4px;
  }

  .content {
    .d-flex {
      .courseimage {}

      .flex-grow-1 {
        .summary {
          .no-overflow {
            p {
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              width: 200px;
            }

          }
        }
      }
    }
  }
}

h2 {
  margin: 50px 0 25px;
}