@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}
@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}
@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}
* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.myslider {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  perspective: 100px;
}

.myslider__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.myslider__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  height: calc(100vh - 160px);
  background-color: #f99;
  counter-increment: item;
}

.myslider__slide:nth-child(even) {
  background-color: #99f;
}

.myslider__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.myslider__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .myslider__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  .myslider__slide:last-child .myslider__snapper {
    animation-name: tostart, snap;
  }
}
@media (prefers-reduced-motion: reduce) {
  .myslider__snapper {
    animation-name: none;
  }
}
.myslider:hover .myslider__snapper,
.myslider:focus-within .myslider__snapper {
  animation-name: none;
}

.myslider__navigation {
  position: absolute;
  right: 0;
  bottom: 20px;
  left: 0;
  text-align: center;
}

.myslider__navigation-list,
.myslider__navigation-item {
  display: inline-block;
}

.myslider__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.myslider::after,
.myslider__next {
  right: -1rem;
}

.myslider::before,
.myslider::after {
  content: "";
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.myslider::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.myslider::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

#page-content {
  background-color: #FFF;
}

.section .activity .activityinstance {
  min-width: 10%;
}

#page.drawers {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.wrapper_home {
  width: 100%;
  max-width: 830px;
  padding: 0 8px;
  margin: 0 auto;
}
.wrapper_home .sec1,
.wrapper_home .sec2 {
  min-height: 300px;
}
.wrapper_home .sec1 {
  background-color: #99f;
}
.wrapper_home .sec2 {
  background-color: #f99;
}

.frontpage-course-list-enrolled .coursebox {
  float: left;
  width: calc(50% - 4px);
}
.frontpage-course-list-enrolled .first {
  margin-right: 4px;
}
.frontpage-course-list-enrolled .last {
  margin-left: 4px;
}
.frontpage-course-list-enrolled .content .d-flex .flex-grow-1 .summary .no-overflow p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
}

h2 {
  margin: 50px 0 25px;
}

/*# sourceMappingURL=custom.css.map */
